# 라이브러리 불러오기 & 데이터 불러오기

In [1]:
import os
import pandas as pd

In [2]:
os.chdir(r'C:\Users\User\LearningSpoons\파이썬 머신러닝\4-2 실습 파일\data')
data = pd.read_csv("bank-additional-full.csv", sep=';') # ,가 아니라 :로 구분되어있으므로 구분자 넣어주기

In [3]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
# 범주형 변수 -> 원핫인코딩
data.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [5]:
data = pd.get_dummies(data, columns=['job', 'marital', 'education', 'default', 'housing', 'loan','contact', 'month', 'day_of_week', 'poutcome'])

In [6]:
# id 지정
data['id'] = range(len(data))

In [7]:
len(data)

41188

In [8]:
# train & test split
train = data.sample(30000, replace=False, random_state=2020).reset_index().drop(['index'], axis=1)
test = data.loc[~ data['id'].isin(train['id']) ].reset_index().drop(['index'], axis=1)

# 랜덤포레스트 
**의사결정나무에 배깅 기법을 활용한 기법**

**특징**
1. 해석이 어렵다
2. 학습이 느리다.

**파라미터**
1. n_estimators : 몇개의 의사결정나무를 만들것인지
2. min_samples_split : 각 의사결정나무에서 각 구간의 최소 샘플 수, 이보다 작으면 더이상 분리되지 않음

In [9]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators = 500, min_samples_split = 10)

In [10]:
train.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success', 'id'],
      dtype='object')

In [11]:
## 학습에 활용할 input 변수를 지정합니다.
input_var = ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success']

In [12]:
rf.fit(train[input_var],train['y'])

RandomForestClassifier(min_samples_split=10, n_estimators=500)

In [13]:
predict = rf.predict(test[input_var])

In [14]:
test['predict'] = predict

In [15]:
(test['predict'] == test['y']).mean()  # 91% 예측 정확도

0.9129424383267787

### 의사결정나무와 비교히기

In [16]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(min_samples_split = 10)

In [17]:
dt.fit(train[input_var], train['y'])
test['pred'] = dt.predict(test[input_var])

In [18]:
(test['pred'] == test['y']).mean()  # 89% 예측 정확도  -> 랜더포레스트가 더 좋은 성능~!

0.8980157311405077

### 변수중요도 뽑기

In [21]:
feature_imp = rf.feature_importances_  #변수 중요도

In [23]:
imp_df = pd.DataFrame({'var':input_var, 'imp':feature_imp}) #알아보기 쉽게 데이터프레임화

In [24]:
imp_df.sort_values(['imp'], ascending=False)  # 주요도가 큰 순서대로 정렬

                     var           imp
1               duration  3.228120e-01
8              euribor3m  1.016986e-01
9            nr.employed  7.034835e-02
0                    age  5.571651e-02
3                  pdays  4.023540e-02
..                   ...           ...
21           job_unknown  1.804760e-03
47             month_dec  9.244352e-04
25       marital_unknown  7.078411e-04
30  education_illiterate  1.175609e-04
36           default_yes  1.770267e-08

[63 rows x 2 columns]

# XGBoost
**특징**
1. 해석이 어렵다.
2. 랜덤포레스트에 비해 빠르고 성능이 좋은 경우가 많음

**파라미터**
- learning_rate : 얼마나 빠르게 학습할 것인가 ( 즉, 가중치를 얼마나 극단적으로 업데이트 시킬 것인가?, 일반적으로 0.1 ~ 0.5)
- n_estimators :  몇 개의 의사결정나무를 만들 것인지( 가중치를 몇 번 업데이트 하는지 )

In [26]:
! pip install XGBoost

Requirement already satisfied: XGBoost in c:\users\user\anaconda3\lib\site-packages (1.5.2)
Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (from XGBoost) (1.7.1)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from XGBoost) (1.20.3)

In [27]:
from xgboost import XGBClassifier

In [28]:
xgb = XGBClassifier( n_estimators = 300, learning_rate =0.1 )

In [29]:
xgb.fit(train[input_var], train['y'])

C:\Users\User\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[17:13:38] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.1, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=300, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [30]:
predictions = xgb.predict(test[input_var]) # 에측

In [31]:
test['pred'] = predictions # 데이터프레임에 컬럼저장

In [32]:
(test['pred'] == test['y']).mean()  # 예측 정확도 91%

0.9141043975688238

최적의 n_estimators 찾기

In [33]:
for n in [100,200,300,400,500,600,700,800,900] :
    
    xgb = XGBClassifier( n_estimators = n, learning_rate = 0.1 )
    xgb.fit(train[input_var], train['y'])
    predictions = xgb.predict(test[input_var])
    test['pred'] = predictions
    print((test['pred'] == test['y']).mean() )

[17:13:47] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9135681086878799
[17:13:49] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9132999642474079
[17:13:53] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9141043975688238
[17:13:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9137468716481945
[17:14:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9128530568466213
[17:14:17] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9121380050053629
[17:14:30] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9113335716839471
[17:14:48] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9120486235252055
[17:15:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9117804790847337

최적의 n_estimators는 300 이다.

### 변수중요도 뽑기

In [34]:
feature_imp = xgb.feature_importances_  #변수 중요도

In [35]:
imp_df = pd.DataFrame({'var':input_var, 'imp':feature_imp}) #알아보기 쉽게 데이터프레임화

In [36]:
imp_df.sort_values(['imp'], ascending=False)  # 주요도가 큰 순서대로 정렬

                     var       imp
9            nr.employed  0.321617
5           emp.var.rate  0.037563
62      poutcome_success  0.035317
1               duration  0.031028
53             month_oct  0.030291
..                   ...       ...
30  education_illiterate  0.000000
36           default_yes  0.000000
44     contact_telephone  0.000000
41          loan_unknown  0.000000
61  poutcome_nonexistent  0.000000

[63 rows x 2 columns]

Q. 모델마다 중요한 변수 순위가 다른데 뭘 선택해야하나?  
A. Xgboost > 랜덤포레스트 > 의사결정나무 순으로 더 신뢰성 있다는 연구결과가 있음